.ptc-event-container {
  margin-top: 40px;
}

.ptc-event-header {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.ptc-event-header .borderline {
  width: 8px;
  height: 58px;
  background-color: #fc893d;
}

.ptc-event-header .title {
  margin-left: 1rem;
  font: 500 1.6rem/2.4rem 'Roboto', sans-serif;
  color: #333;
}

.ptc-event-result {
  display: flex;
  column-gap: .5em;
  justify-content: space-between;
}

.ptc-event-card {
  flex: 1;
  margin-top: 1em;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.ptc-event-card img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
}

.ptc-event-card p {
  padding: .5rem;
  font: 400 14px/22px 'Roboto', 'Sarabun', sans-serif;
  text-align: center;
  color: #444;
}