.ptc-gallery-container {
  margin-top: 30px;
}

.ptc-gallery-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: .4em;
}

.ptc-gallery-card {
  margin-top: .4em;
  width: calc((100% / 3) - .27em);
}

.ptc-gallery-card img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
}
