.ptc-ft-container {
  margin-top: 50px;
  background-color: #222;
}

.ptc-ft-content {
  display: flex;
  column-gap: 1em;
  padding: 1em 0;
}

.ptc-ft-card {
  flex: 1;
}

.ptc-ft-card .header {
  font: 500 20px/30px 'Sarabun', sans-serif;
  color: #eee;
}

.ptc-ft-card .content {
  font: 400 14px/24px 'Sarabun', sans-serif;
  color: #999;
}

.ptc-ft-card.left {
  text-align: unset;
  background-color: transparent;
}

.ptc-ft-card.left .lg {
  width: 100px;
}

.ptc-ft-card.left .header {
  margin-top: 1em;
}

.ptc-ft-card.left .call {
  margin: .8em 0;
  display: flex;
  column-gap: 3em;
}

.block-icon {
  display: flex;
  align-items: center;
}

.block-icon p {
  margin-left: 10px;
  font: 500 15px/15px 'Roboto', sans-serif;
  color: #aaa;
}

.ptc-ft-card.center {
  text-align: unset;
  background-color: transparent;
  color: #999;
}

.ptc-ft-card.center .header {
  margin-bottom: .5em;
}

.ptc-ft-card.center ul {
  list-style-position: inside;
  list-style-type: disc;
}

.ptc-ft-card.center a {
  color: #ddd;
}

.ptc-ft-card.right {
  display: flex;
  justify-content: center;
}

.ptc-ft-card.right iframe {
  overflow: hidden;
  border-radius: 4px;
}
